.movingTextWrapper {
    width: 100%;
    overflow: hidden;
}

.movingText {
    display: inline-block;
    white-space: nowrap;
    font-size: 1.2rem;
    animation: moveText 10s linear infinite;
    padding: 10px 0;
}

@keyframes moveText {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
