.chartWrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 98%;
    height: 400px;
    max-width: 98%;
}

.line {
    width: 98%;
    height: 100%;
}

.spinnerWrapper {
    display: flex;
    gap: 5px;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .chartWrapper {
        height: 200px;
    }
}